
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/PRODUCTOCliente/_LayoutCarrito.cshtml";
}

<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>Contacto</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->
<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
            <div id="map" style="height: 480px;"></div>
            <script>
                function initMap() {
                    var uluru = {
                        lat: -25.363,
                        lng: 131.044
                    };
                    var grayStyles = [{
                        featureType: "all",
                        stylers: [{
                            saturation: -90
                        }, {
                            lightness: 50
                        }]
                    }, {
                        elementType: 'labels.text.fill',
                        stylers: [{
                            color: '#ccdee9'
                        }]
                    }];
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: {
                            lat: -0.208946,
                            lng: -78.507751
                        },
                        zoom: 9,
                        styles: grayStyles,
                        scrollwheel: false
                    });
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap">
            </script>

        </div>

        <div class="col-lg-4">
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-home"></i></span>
                <div class="media-body">
                    <h3>Quito, Ecuador.</h3>
                    <p>Ponciano, 170120</p>
                </div>
            </div>
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                <div class="media-body">
                    <h3>(+593) 994646061</h3>
                    <h3>(+593) 998820719</h3>
                    <p>Lunes a Viernes de 9am a 5pm</p>
                </div>
            </div>
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-email"></i></span>
                <div class="media-body">
                    <h3>ecuadelivery@gmail.com</h3>
                    <p>Envíanos cualquier inquietud que tengas.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="lista-productos" style="display:none">

    </div>
</section>
<script src="~/js/carrito.js"></script>
<script src="~/js/pedido.js"></script>
