@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/PRODUCTOCliente/_LayoutCarrito.cshtml";
}
@{ if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-link" style="text-align: center; font-size: 15px; font-weight: 700; color: #fff; padding: 13px 0; background: #ff3366; display: inline-block; width: 100%; outline: none; border: 2px solid #ff3366; cursor: pointer; text-transform: uppercase; ">@ViewBag.Message</div>

    }

}
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>
                            Productos de primera calidad.
                        </h1>
                        <p>100% Ecuatorianos</p>
                        <a href="~/PRODUCTOCliente/Indice" class="btn_1">Compre Ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner_img">
        <img src="~/images/otavalo.jpg" alt="#" class="img-fluid">
    </div>
</section>

<!-- product list start-->
<section class="single_product_list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_product_iner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_product_img">
                                <img src="~/images/caña.jpg" class="img-fluid" alt="#">
                                <img src="~/images/amarillo.jpg" alt="#" class="product_overlay img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <div class="single_product_content">
                                <h5>Desde $5</h5>
                                <h2>

                                    Bebida alcóholica de
                                    origen 100% manaba.

                                </h2>
                                <a href="~/PRODUCTOCliente/Indice" class="btn_3">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_product_iner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_product_img">
                                <img src="~/images/panama hat.jpg" class="img-fluid" alt="#">
                                <img src="~/images/azul.jpg" alt="#" class="product_overlay img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <div class="single_product_content">
                                <h5>Desde $55</h5>
                                <h2>

                                    Tradicional sombrero
                                    que se confecciona de las hojas trenzadas de la palmera
                                    del sombrero de paja toquilla

                                </h2>
                                <a href="~/PRODUCTOCliente/Indice" class="btn_3">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_product_iner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_product_img">
                                <img src="~/images/saco lana.jpg" class="img-fluid" alt="#">
                                <img src="~/images/rojo.png" alt="#" class="product_overlay img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <div class="single_product_content">
                                <h5>Desde $20</h5>
                                <h2>

                                    Saco de lana
                                    confeccionado y elaborado en Otavalo.

                                </h2>
                                <a href="~/PRODUCTOCliente/Indice" class="btn_3">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_product_iner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_product_img">
                                <img src="~/images/pedro coco.jpg" class="img-fluid" alt="#">
                                <img src="~/images/rojo.png" alt="#" class="product_overlay img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <div class="single_product_content">
                                <h5>Desde $5</h5>
                                <h2>

                                    Bebida alcóholica
                                    100% ecuatoriana con sabor a coco.

                                </h2>
                                <a href="~/PRODUCTOCliente/Indice" class="btn_3">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product list end-->
<!-- feature part here -->
<section class="feature_part section_padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="feature_part_tittle">
                    <h3>¿Por qué elegir a EcuaDelivery?</h3>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="feature_part_content">
                    <p>Ofrecemos únicamente productos de origen ecuatoriano, que incentivan y promueven la economía local y a los productores en especial. Por otro lado ofrecemos características específicas:</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="~/Img/icon/feature_icon_1.svg" alt="#">
                    <h4>Formas de pago</h4>
                    <h4></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="~/Img/icon/feature_icon_2.svg" alt="#">
                    <h4>Pedidos Online</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="~/Img/icon/feature_icon_3.svg" alt="#">
                    <h4>Envío Organizado</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="~/Img/icon/feature_icon_4.svg" alt="#">
                    <h4>Productos Únicos</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="lista-productos" style="display:none">

    </div>
</section>
<!-- feature part end -->

<script src="~/js/scriptJs/bootstrap.min.js"></script>
<script src="~/js/scriptJs/contact.js"></script>
<script src="~/js/scriptJs/jquery.ajaxchimp.min.js"></script>
<script src="~/js/scriptJs/jquery.counterup.min.js"></script>
<script src="~/js/scriptJs/jquery.form.js"></script>
<script src="~/js/scriptJs/jquery.magnific-popup.js"></script>
<script src="~/js/scriptJs/jquery.nice-select.min.js"></script>
<script src="~/js/scriptJs/jquery.validate.min.js"></script>
<script src="~/js/scriptJs/mail-script.js"></script>
<script src="~/js/scriptJs/owl.carousel.min.js"></script>
<script src="~/js/scriptJs/popper.min.js"></script>
<script src="~/js/scriptJs/slick.min.js"></script>
<script src="~/js/scriptJs/waypoints.min.js"></script>
<script src="~/js/carrito.js"></script>
<script src="~/js/pedido.js"></script>